{% extends "base.html" %}
{% block content %}
<div class="max-w-4xl mx-auto py-32 px-6 text-center">
    <h1 class="text-6xl font-extrabold text-karitaBlue mb-4">404</h1>
    <h2 class="text-3xl font-bold text-gray-900 dark:text-slate-100 mb-6">Page Not Found</h2>
    <p class="text-xl text-gray-600 dark:text-slate-400 mb-8">Uh Oh, it looks like these page does not exist.</p>
    <a href="/" class="bg-karitaGreen text-white px-6 py-3 rounded font-bold hover:bg-green-700 focus:ring-2 focus:ring-karitaBlue focus:outline-none transition inline-block">
        Return Home
    </a>
</div>
{% endblock %}
